@charset "utf-8";
/*CSS Document */
/*公用*/
.comWidth{width: 1000px; margin-left: auto; margin-right: auto;}
/*宽度1000px左右居中，发现后面很好用，很方便*/
.leftArea{float: left;}
.rightArea{float: right;}
/*.hide{display: none;}*/
.show{display: block;}

/*topBar*/
.topBar{height: 31px; background-color: #F7F7F7; line-height: 31px;}
	/*这里的line-height: 31px;也可以写成
	.topBar .leftArea{line-height: 31px;},这样写就比较累赘，所以优化了*/
.collection{background:url(../images/icon/collection.jpg) left center no-repeat; padding-left: 19px; font-weight: bold;}
	/*paddig-left只对文字有效,对在css插入图片无效*/
.topBar a:hover{color: red;}
/*logo*/
.logoBar{height: 85px; background-color: #1D7AD9; }
.logo{padding-left: 41px; padding-top: 13px; }
	/*padding-left对html里盒子的图片有效*/
	/*这里的图片在logo盒子里面所以不是margin是padding*/
/*search*/
.search_box{width: 430px；padding-top: 43px;  padding-top: 23px; padding-left: 185px; }

	/*.search_text{width: 360px; height: 35px;} 
		文本框光标太接近左边了，所以改进左右添加5px内边距
		注意这里左右加了5px会撑开，所以width要减少相应的值*/
	/*.search_text{width: 350px; height: 35px; padding: 0 5px; }
		这样设置，万恶的IE6会出现文本框不兼容，下面是改进的方法，两种改法CSS都要设置*/
	/*改法1，针对万恶的IE6,要计算文本框内上下内边距
		.search_text{width: 350px; height: 14px; line-height: 14px; padding: 11px 5px 10px; background-color: #FFF;}
			padding (35-14)/2=10.5我们让上是11下是10*/
	/*改法2，针对万恶的IE6, line-height: 35px\9;  CSS hack \9 代表所有的浏览器 */
.search_text{width: 350px; height: 35px; line-height: 35px\9; padding: 0 5px; padding: 0px 5px; background-color: #FFF; }
.search_btn{width: 70px; height: 35px; font-size: 14; font-family: "MicrosoftYaHei","微软雅黑"; background-color: #FF8C00;color: #FFF;}

/*购物车*/
.shopCar{width: 145px; height: 35px; background-color: #FF8C00; margin-top: 23px; font:14px/35px "MicrosoftYaHei", "微软雅黑" ; color: #FFF; margin-right: 59px; 
		display: inline-block;}
.shopText{/* font-size: 14px; line-height: 35px; font-family: "MicrosoftYaHei","微软雅黑"; */
height: 100%; width: 87px; border-right: #E27A00 solid 1px; background:url(../images/icon/shaoIcon.jpg) 10px center no-repeat; text-indent: 40px;}
/*技巧，可以利用text-indent: 40px;来移动文本，就不用设置偏移属性了*/
.shopNum{width: 27px; height: 35px; border-left: #FF9C01 solid 1px; background:url(../images/icon/sj.jpg) 33px center no-repeat; text-align: right; padding-right: 29px; }
/*.shopNum{width: 57px; height: 35px; border-left: #FF9C01 solid 1px; background:url(../images/icon/sj.jpg) 33px center no-repeat; text-align: right; }
这里的29px是购物车数字0到盒子最右边的间隙 56-29=27 所以width: 27px; */
/*padding-right: 29px; 这样设置的原因，当购物车数量长度增加时要往左边移动，右边不动*/

/*导航*/
.navBox{height: 40px; background-color: #1369C0; color: #FFF;}

/*.shopClass{width: 190px; line-height: 35px; 注意，会留下后患  text-align: center;}
  因为shopClass不是全部行高和样式都居中*/
.shopClass{width: 189px; position: relative;}
.shopClass h3{line-height: 35px; text-align: center;}

.shopClass i{width: 11px; height: 7px; overflow: hidden; 
	background: url(../images/icon/down.jpg) left center no-repeat; 
	display: inline-block; margin-left: 11px;}
.nav, .shopClass h3{font-family: "MicrosoftYaHei", "微软雅黑";}
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px; display: inline-block; padding:0 35px; color: #FFF;}
.nav .active{background-color: #4593FD;}





/*商品弹出列表*/
.topmenu{
    display: block;
    width: 185px;
    height: 465px;
    border: 2px solid #1369c0;
    margin: 0;
    padding: 0;
}
.toptitle{
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 11pt;
    font-weight: bold;
    color: White;
    background: #1369c0;
    padding-left: 20px;
}
.topmenu li{
    height: 30px;
    line-height: 30px;
    font-size: 11pt;
    list-style-type: none;
    text-align: left;
    padding-left: 8px;
    z-index: 3;
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-position: right;
}
.topmenu li a{
    text-decoration: none;
    color: #313131;
}
.topmenu li a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #1369c0;
}
.topmenu .lihover {/*鼠标移动到上面时，应用的样式*/
    border: 1px solid #DDD;
    border-right: 0;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
    background-image: none;
    height:60px;
    border-left:4px solid #1369c0;
    
    
}
 .topmenu .lihover .submenu{ /*悬浮层*/
    display: block;
}

.topmenu .lihover span {/*白色小方框*/
    background: white;
    display: inline-block;
    z-index: 20;
    width: 20px;
    height: 60px;
    float: right;
    position: relative;
}


.topmenu li b{
   display:none;
   
}

.topmenu .lihover b{
    display:block;
    height:30px;
    line-height:30px;
    font-weight:normal;
    font-size:10pt;
}

.submenu{
    display: none;
    width: 715px;
    left: 189px;
    position: absolute;
    top: 40px;
    border: 1px solid #DDD;
    z-index: 4;
    background: white;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
}
.leftdiv{
    float: left;
    width: 490px;
    margin: 5px;
}
.rightdiv{
    float: left;
    width: 200px;
    margin: 5px;
}

.leftdiv dl{
    display: block;
    border-bottom: 1px solid #EEE;
    padding-bottom: 6px;
    overflow: hidden;
}
.leftdiv dl dt{
    display: block;
    float: left;
    width: 60px;
    text-align: right;
    height: 22px;
    line-height: 22px;
    padding-right: 6px;
}

.leftdiv dl dt a{
    color: #1369c0;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}
.leftdiv dl dd{
    display: block;
    overflow: hidden;
}
.leftdiv dl dd a{
    display: block;
    float: left;
    border-left: 1px solid #CCC;
    color: #737373;
    font-size: 9pt;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    margin: 4px 0;
}

.rightdiv dl dd{
    margin: 3px 0;
}

.rightdiv dl dt{
    color: #1369c0;
    font-weight: bold;
    font-size: 10pt;
}

.rightdiv dl dd a{
    font-size: 9pt;
    color: #737373;
    line-height: 22px;
}
.rightdiv dl dd a:hover{
    color: #737373;
    font-weight: normal;
}

.rightPic{
  position:relative;
  right:-35px;
  bottom:-30px;

  }





/*banner部分	*/
.banner{margin-bottom: 15px;}
.banner_bar{
    width: 811px; height:326px; float: right; 
	position: relative; overflow: hidden;
}


/*图片轮播*/
#container { 
    width: 811px; height:326px; 
    overflow: hidden; position: relative;
}

#list { 
    width: 1622px; height: 400px;
    position: absolute;
}
#list img { float: left;}

#buttons { 
    height: 10px; width: 100px; z-index: 2; 
    position: absolute; bottom: 10px; left: 45%;
}
#buttons span { 
    width: 20px; height: 5px; border: 1px solid #fff; 
    background: #333; margin-right: 5px;
    float: left; cursor: pointer;
}
#buttons .on {  background: orangered;}

.arrow { 
    width: 40px; height: 40px; 
    line-height: 39px; text-align: center; 
    font-size: 36px; z-index: 2; font-weight: bold; 
    position: absolute; top: 180px; 
    cursor: pointer; border-radius: 50%;
    opacity: 0.3;
    background-color: RGBA(0,0,0,.1); color: #fff;
}
.arrow:hover { background-color: RGBA(0,0,0,.7);opacity: 0.7;}

#prev { left: 20px;}
#next { right: 20px;}




.banner_sm,
.banner_sm img{width: 190px; height: 400px;}
.banner_sm .imgBox{width: 380px; height: 400px;}


/*商品标题*/
.shopTit{height: 44px; font-family: "MicrosoftYaHei","微软雅黑"; line-height: 44px; margin-bottom: 15px; }
.shopTit h3{font-size: 24px; float: left;font-weight: normal;padding-left: 15px;}
.icon{width: 44px; height: 44px; background: url(../images/icon/shopTit.jpg) left top no-repeat;
	float:  left;}
.more{float: right; font-family: "宋体";}
.more:hover{text-decoration: underline;}
/*商品列表*/
.shopList .leftArea{width: 190px;}
.shopList .rightArea{width: 808px; border-right: #999 solid 1px; 
	border-bottom: #FF7210 solid 3px; height: 396px; overflow: hidden; }
/*.shopList .leftArea .banner_bar{width: 190px; height: 400px;}*/

/*商品列表-右侧*/
.shopList{margin-bottom: 15px;}
.shopList_top,
.shopList_sm{margin-right: -4px;}
.shop_item{width: 202px; border-right: #999 solid 1px; border-bottom: #999 solid 1px; 
	height: 279px;
	text-align: center; font-family: "MicrosoftYaHei", "微软雅黑";
	float: left;}
.shop_img{height: 218px;}
.shop_img img{width: 100%; height：218px; display: block;}
.shop_item h3{font-size: 16px;}
.shop_item p{font-size: 14px; color: #FF7300; line-height: 21px;}

/*商品列表-小*/
.shopItem_sm{width: 202px; border-right: #999 solid 1px; 
		height: 110px; padding-top: 6px; float: left;}
.shopItem_smImg{width:95px; height: 95px; text-align: center;
	float: left;}

.shopItem_smImg img{width:95px; height: 95px; }
.shopItem_text{padding-top: 28px; width: 100px; float: left;}
.shopItem_text p{color: #FF7300;}
.shopItem_text h3{font-family: "MicrosoftYaHei"."微软雅黑";
	font-size: 16px; font-weight: normal; color: #181818; line-height: 30px;
}

/*底部*/
.footer{text-align: center;background-color: #D4D4D4; line-height: 24px; 
	padding: 50px 0;}
.footer i{font-style: normal; margin: 0 5px;}
.footer a{color: #000;}
.footer a:hover{color: #F60;}
.web{padding-top: 30px;}
.web img{margin: 0 12px;}
.hr_25{height: 25px;}
.hr_7{height: 7px;}
.hr_15{height: 15px;}
/*添加hr_25的原因是因为如果在footer设置margin-top:25px;是达不到期望值的，
因为会把什么也算进去会重叠的，所以这里的做法是添加一个hr_25。
	什么就是/*商品列表-右侧 .shopList{margin-bottom: 15px;}的bottom*/

/*JK编辑,底部，粗糙*/
/*.footer{text-align: center; width: 100%;background-color: #D4D4D4; 
	padding-top: 44px;}
.footer p{font-family: "宋体"; line-height: 25px; font-size: 12px;}
.footer .web img{margin:35px 12px 49px; }*/
