@charset "utf-8";
/*CSS Document */
body,ul,ol,p,h1,h2,h3,h4,h5,h6,from,filedset,table,td,img,div,dl,dt,dd,input{margin: 0 ; padding: 0 ;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none; border: none; background: none;}
/*input,select,textarea{outline:none; border: none;}
为了这对万恶的IE6文本框不兼容，我们要改进
这里的不兼容包括文本框兄弟元素偏移属性无效，文本框内padding值无效*/
textarea{resize:none;}
a{text-decoration:none; color: #656565;}
/*清除浮动*/
.clearfix:after{content:""; display:block; clear:both;}
.clearfix{zoom:1;}
.fl{float: left;}
.fr{float: right;}
